.all-parks-cont {
  background-color: #F6E8D7;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.search-feedback {
  display: flex;
  justify-content: center;
  font-size:  28px;
}

@media screen and (max-width: 400px) {
  .all-parks-cont{
    grid-template-columns: repeat(auto-fit, minmax(100px));
  }
}