.parks-card {
  height: auto;
  background-color: rgba(122, 104, 95, 0.687);
  color: white;
  border-radius: 10px;
}

.parks-card img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.img-title {
  padding-bottom: 15px;
  font-size: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
