.sel-park-card {
  height: autovh;
  background-color: rgba(122, 104, 95, 0.687);
  color: white;
}

.sel-park-img {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

.image-not-available {
  height: 50px;
}

.description-cont {
  background-color: darkgray;
  color: black;
  font-size: 24px;
  padding: 30px;
}

.details-section {
  display: flex;
}

.details-cont {
  width: 50%;
  background-color: rgba(122, 104, 95, 0.687);
  color: white;
  padding: 30px;
  text-align: left;
}

.activities-title {
  margin: 10px;
  font-size: 36px;
}

.activity-list {
  align-items: center;
  list-style: none;
}
