/* Header {
  border: 2px solid blue;
  background-color: #915B2C;
  min-height: 25vh;
  width: 20vh;
  display: flex;
} */
.title-cont {
  height: 15vh;
  width: 100%;
  background-color: #915B2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  /* border: 2px solid red; */
  margin-left: 5vw;
  padding: 10px;
  height: 10vh;
  background-color: #004D00;
  /* display: flex; */
  /* text-align: left; */
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: #F6E8D7;
}
