header {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #915B2C;
  padding: 10px;
}

.title-cont {
  height: 5vh;
  max-width: 50%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

h1 {
  margin: 0;
  padding: 10px;
  background-color: #004D00;
  font-family: Alfa Slab One;
  font-size: 48px;
  color: #F6E8D7;
}

.nps-icon {
  height: 100%;
  background-color: #7A9B69;
  padding: 15px;
}

.search-field {
  height: 40px;
  width: 100%;
  max-width: 200px;
  padding-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 775px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .title-cont {
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 36px;
  }

  .nps-icon {
    height: 95%;
  }

  .search-field {
    padding-right: 0;
  }
}