header {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #915B2C;
  padding: 10px;
}

.title-cont {
  height: 5vh;
  max-width: 50%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

h1 {
  margin: 0;
  padding: 10px;
  background-color: #004D00;
  font-family: Alfa Slab One;
  font-size: clamp(2vw, 1rem + 5vw, 3rem);
  color: #F6E8D7;
  flex: 1;
}

.nps-icon {
  height: 100%;
  background-color: #7A9B69;
  padding: 15px;
  flex: 0;
}

.search-field {
  height: 40px;
  width: 100%;
  max-width: 200px;
  margin-right: 0;
  margin-top: 10px;
}

@media screen and (max-width: 820px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title-cont {
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
  }
}